  {% macro displayNewsList(news_list) %}
    {%for news in news_list%}
      <li><img src={{news.urlToImage}}  alt= "headlines image" height="200" width ="200"></li>
      <a href="{{news.url}}"><button class="btn btn-success">Full story</button></a>
    {% endfor %}
  {% endmacro %}
  {% macro displayBbcList (bbc_list) %}  
    {% for news in bbc_list %}
      <img src ={{news.urlToImage}} alt= "bbc headlines image" height = "200" width= "200"><br>
      <a href = "{{news.url}}"><button class= "btn-success">Full Story</button></a>
    {% endfor %}
  {% endmacro %}

  {% macro displaySourcesList(sources_list) %}
      {% for sources in sources_list %}
      <ul>
        <li>{{sources.name}}</li>
        <a href={{sources.url}}><button>Visit Website</button></a>
        </ul> 
      {% endfor %}   
  {% endmacro %}

  {% macro displayTrumpNews(trump_news) %}
    {% for news in trump_news %}
  
      <img src ={{news.urlToImage}} alt="trump headlines" height= "200" width="200"><br>
      <a href = "{{news.url}}"><button class= "btn-success">Full Story</button></a>
  
       <p>{{news.author}}/p>
    {% endfor %}
  {% endmacro %} 
    


